/* 
styling format: 
    layout  - display, justify-contents, align-items. IN ORDER
    size    - w/h, marg/padd, box-sizing. IN ORDER
    text    - font size, line height, color, text-shadow
    visual  - bg-color, border, border-rad, box-shadow
    misc    - transition
*/ 
     
*{
    margin:0;

    box-sizing:border-box;

    font-family: 'Poppins', sans-serif;
}
    
body{
    display:flex;
    flex-flow: column wrap;
    
    background-color: rgb(51,52,141);
}
    
.github-icon{
    display:block;

    width:40px;
    height:40px;    
}
    
header{
    display:flex;
    align-items:center;

    padding-top:20px;
    padding-left:60px;
    padding-right:60px;

    >.icon-container{
        background-color: black;
        border-radius: 5px;

        .site-icon{
            display:block;
    
            width:40px;
            height:40px;
        }

    }

    >.site-header{
        color:black;

        text-decoration: none;
    }
    

    >.site-name{
        padding-left:10px;
    }
    

    >.github-icon-container{
        margin-left:auto; 
        margin-right:30px;
    }
}
    
main{
    display:flex;
    flex-direction: column;
    align-items:center;

    margin-top:50px;
    
    >.title{
        text-align:center;
        
        padding: 0 5px;

        color:white;
    
        text-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    }

    >.password-block{     
        display:flex;

        margin-top:20px;
    
        border-radius: 20px;
    
        box-shadow: 0 10px 10px 3px rgba(0, 0, 0, .3);
    
        >.password{
            flex-grow:1;

            padding:15px;

            /* Border radius at the top/bottom-left */
            border-start-start-radius: 20px;
            border-end-start-radius: 20px;
        
            border: 1px solid rgb(51,52,141);

            outline:none;
        }

        >.copy-button,.refresh-button{
            display:flex;
            align-items: center;
            justify-content:center;

            background-color: #cccccc;
            
            border: 1px solid rgb(51,52,141);

            outline:none;

            cursor:pointer;
        }

        >.copy-button{
            margin-left:auto;
        }

        >.refresh-button{
            border-start-end-radius: 20px;
            border-end-end-radius: 20px;
        }
        
        >.password:hover,.copy-button:hover,.refresh-button:hover{
            background-color: #eeeeee;
        }
    }

    >.loading-line-container{
        min-width:calc(40% - 25px);
        
        >.loading-line{
            display:block;

            width:0px;
            height:1px;
        
            background-color: rgb( 35, 246,   9);
        
            border:0px;
            
            /* Not noticeable but I'll add it anyway */
            border-radius: 1px;

            transition:width .1s ease-in-out;
        }
    }

    >.options{
        display:flex;
        flex-flow:row wrap;
    
        padding: 0 20%;

        >.option{
            display:flex;
            align-items: center; 
            flex-flow:row nowrap;
            flex-basis:min-content;
            
            margin-top: 25px;
    
            >.password-len-input{     
                padding:5px;


            
                border-radius: 10px;

                border: 1px solid rgb(51,52,141);

                outline:none;
            }

            >.checkbox{
                flex:0 0 auto;

                width:20px;
                height:20px;
            }

            >.password-len-input,.checkbox{
                box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
            }

            >.description{
                padding-left:15px;
            
                color:white;
            
                text-shadow: 0 10px 10px rgba(0, 0, 0, .5);
            }
        }
    }

    >email{
        color:white;
    
        text-shadow: 0 10px 5px rgba(0, 0, 0, .5);
    }
}


footer{
    display:flex;
    flex-direction: column;

    background-color: black;

    >.github-container-footer{
        flex-grow:1;
    
        padding:20px;
    }

    >email{
        align-self:center;
        
        color:white;
        
        >p{
            margin-top:auto;
            margin-bottom:5px;
        }
    }
}

@media (min-width:1281px){
    :root{
        --basewidth:50%;
        --maxwidth:60px;
    }

    .password,.password-len-input{
        font-size:20px;
    }
    
    main{
        >.password-block{
            min-width:var(--basewidth);
        }

        >.loading-line-container {
            min-width: calc(var(--basewidth) - 25px);
        }

        >.options{
            flex-flow:row wrap;

            margin-top:10px;

            padding: 0 calc((100% - var(--basewidth))/2);

            >.option{
                /* So we can fit 2 `option` elements per row */
                min-width:50%;
                
                padding-left:10px;

                >.password-len-input{
                    max-width:var(--maxwidth);
                }

                >.checkbox{
                    margin-left:calc(var(--maxwidth) - 20px);
                }
            }
        }

        >email{
            margin-top:200px;
        }
    }

    footer{
        display:none;
    }
    
}

@media(min-width:1025px) and (max-width:1280px){
    :root{
        --basewidth:60%;
        --maxwidth:60px;
    }

    .password,.password-len-input{
        font-size:20px;
    }

    header{
        padding-left:150px;
        padding-right:160px;
    }

    main{
        >.password-block{
            min-width:var(--basewidth);
        }

        >.loading-line-container {
            min-width: calc(var(--basewidth) - 25px);
        }

        >.options{
            flex-flow:row wrap;

            margin-top:15px;

            padding: 0 calc((100% - var(--basewidth))/2);

            >.option{
                min-width:50%;
                
                padding-left:30px;

                >.password-len-input{
                    max-width:var(--maxwidth);
                }

                >.checkbox{
                    margin-left:calc(var(--maxwidth) - 20px);
                }
            }
        }

        >email{
            margin-top:250px;
        }
    }

    footer{
        display:none;
    }
}

@media (min-width:801px) and (max-width:1024px){
    :root{
        --basewidth:60%;
        --maxwidth:60px;
    }

    .password,.password-len-input{
        font-size:20px;
    }

    header{
        justify-content:center;
    }
    
    main{
        >.password-block{
            min-width:var(--basewidth);
            
        }

        >.loading-line-container {
            min-width: calc(var(--basewidth) - 25px);
        }

        >.options{
            padding: 0 calc((100% - var(--basewidth))/2);

            >.option{
                min-width:50%;  
       
                padding-left:20px;

                >.password-len-input{
                    max-width:var(--maxwidth);
                }

                >.checkbox{
                    margin-left:calc(var(--maxwidth) - 20px);
                }
            }
        }

        >email{
            margin-top:150px;
        }
    }
    
    footer{
        display:none;
    }
}

@media(min-width:481px) and (max-width:800px){
    :root{
        --basewidth:80%;
    }

    .password,.password-len-input{
        font-size:16px;
    }

    body{
        min-height:100lvh;
    }

    header{
        justify-content:center;
        
        padding-left: 50px;
        padding-right: 50px;

        >.site-name{
            display:none;
        }

        >.github-icon-container{
            display:none;
        }
    }
    
    main{
        margin-bottom: 50px;
        
        >.password-block{
            min-width:var(--basewidth);
            
        }

        >.loading-line-container {
            min-width: calc(var(--basewidth) - 25px);
        }

        >.options{
            flex-flow:column nowrap;

            padding: 0 calc((100% - var(--basewidth))/2);

            .password-len-input{
                max-width:35px;

                margin-left:50px;
            }
            
            .checkbox{
                margin-left:65px;
            }
        }

        >email{
            display:none;
        }
    }
    
    footer{
        margin-top:auto;

        >.github-container-footer{
            align-self:center;
        }
    }
}

@media(max-width:480px){
    :root{
        --basewidth:90%;
    }

    .password,.password-len-input{
        font-size:16px;
    }

    body{
        min-height:100lvh;
    }

    header{
        justify-content:center;

        padding-left: 50px;
        padding-right: 50px;

        >.site-name{
            display:none;
        }

        >.github-icon-container{
            display:none;
        }
    }
    
    main{
        margin-bottom: 50px;
        
        >.password-block{
            min-width: var(--basewidth);
           
            >.password{
                padding: 15px 10px;
            }
        }

        >.loading-line-container {
            min-width: calc(var(--basewidth) - 25px);
        }

        >.options{
            flex-flow:column nowrap;

            padding: 0 calc((100% - var(--basewidth))/2);

            .password-len-input{
                max-width:35px;

                margin-left:25px;
            }

            .checkbox{
                margin-left:40px;
            }
        }

        >email{
            display:none;
        }
    }
    
    footer{
        margin-top:auto;

        >.github-container-footer{
            align-self:center;
        }
    }
}
